<div class="card" [ngClass]="cardDesign" [ngStyle]="{'height': cardHeight}">
  <div class="card-header text-white" [ngClass]="headerClass" [ngStyle]="{'background': headerStyle}"
    *ngIf="isShowCardHeader">
    <div class="row">
      <div class="col-7 col-md-8">
        <i [ngClass]="iconClass"></i>
        <span [ngClass]="headerTxtClass">{{headerTxt}}</span>
      </div>
      <div class="col-5 col-md-4 text-end">
        <ng-container *ngIf="showAddBtn">
          <button pButton pRipple class="p-button-success p-button-sm" (click)="onBtnClick()">{{btnTxt}}</button>
        </ng-container>
        <ng-container *ngIf="showActionBtn">
          <i class="fa fa-pencil me-3" (click)="onEditClick()"></i>
          <i class="fa fa-trash" (click)="onDeleteClick()"></i>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="card-body" [ngClass]="cardBodyClass">
    <ng-content></ng-content>
  </div>
</div>
