<nav class="navbar navbar-expand navbar-dark bg-white ps-0 pe-2 py-0">
  <div class="side-nav-button me-3 text-light" (click)="sideBarToggle()">
    <i class="fa fa-bars"></i>
  </div>

  <div class="navbar-collapse">
    <ul class="navbar-nav me-auto">
      <li class="nav-item dropdown">
        <span class="p-input-icon-left" *ngIf="showInputSearch">
          <i class="fa fa-search"></i>
          <input type="search" class="form-control" [(ngModel)]="searchText" (ngModelChange)="onSearch($event)"
            pInputText placeholder="Search" />
        </span>
      </li>
    </ul>
    <div class="dropdown">
      <button class="btn btn-light dropdown-toggle ms-2 me-md-4 me-lg-5 me-xl-5" type="button" id="userDropdown"
        data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-user me-1"></i>
        {{loggedUserData.employeeName | uppercase}}
      </button>

      <ul class="dropdown-menu" aria-labelledby="userDropdown"
        [ngClass]="loggedUserData.role == 'Super Admin' ?'dropdownMenuSuperAdmin':'' || loggedUserData.role == 'Admin Department Employee' ?'customDropdown-menu':'' || loggedUserData.role == 'Department Head' ?'customDropdownMenuDeptHead':''">
        <li>
          <ng-container>
            <a class="dropdown-item hand fw-bold" [style]="{'pointer-events':'none'}"><i
                class="fa fa-user-secret me-2"></i>{{loggedUserData.role |
              titlecase}}</a>
          </ng-container>
        </li>
        <li>
          <ng-container *ngIf="loggedUserData.role !== 'Super Admin'">
            <a class="dropdown-item mt-1 hand" (click)="getEmployeeById()"><i class="fa fa-user-md me-2"
                aria-hidden="true"></i> Profile</a>
          </ng-container>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <a class="dropdown-item hand" (click)="onLogOut()"><i class="pi pi-sign-out me-2"></i>Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- modal starts -->
<div class="row">
  <div class="col-md-12">
    <form #empForm="ngForm">
      <p-dialog [header]="empObj.employeeId !== 0 ? 'Profile':''" [(visible)]="displayModalEmp" [modal]="true"
        [style]="{width: '50vw'}" [breakpoints]="{'960px': '75vw', '640px': '95vw'}" [baseZIndex]="10000"
        [draggable]="false" [resizable]="false">
        <div class="row">
          <div class="col-md-6">
            <label class="fw-bold my-1">Employee Name</label>
            <input type="text" id="float-input" class="form-control" name="employeeName" #employeeName="ngModel"
              required [(ngModel)]="empObj.employeeName" pInputText placeholder="Enter Employee Name">
            <div class="validation-error" *ngIf="employeeName.touched || employeeName.dirty">
              <span *ngIf="employeeName.errors?.['required']">This field is required</span>
            </div>
          </div>
          <div class="col-md-6">
            <label class="fw-bold my-1">Contact</label>
            <input type="text" id="float-input" class="form-control" name="contactNo" #contactNo="ngModel"
              [pattern]="contactPattern" required [(ngModel)]="empObj.contactNo" pInputText placeholder="Enter Contact">
            <div class="validation-error" *ngIf="contactNo.touched || contactNo.dirty">
              <span *ngIf="contactNo.errors?.['required']">This field is required</span>
              <span *ngIf="contactNo.errors?.['pattern']">Please, Enter 10 digit Mobile Number.</span>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <label class="fw-bold my-1">Email</label>
            <input type="text" id="float-input" class="form-control" name="emailId" #emailId="ngModel"
              [pattern]="emailPattern" required [(ngModel)]="empObj.emailId" pInputText placeholder="Enter Email">
            <div class="validation-error" *ngIf="emailId.touched || emailId.dirty">
              <span *ngIf="emailId.errors?.['required']">Email is required</span>
              <span *ngIf="emailId.errors?.['pattern']">Please enter a valid email address</span>
            </div>
          </div>
          <div class="col-md-6">
            <label class="fw-bold my-1">Department</label>
            <p-dropdown id="float-input" name="deptName" [options]="($department | async)!" [(ngModel)]="empObj.deptId"
              optionLabel="deptName" optionValue="deptId" [filter]="true" filterBy="deptName"
              [showClear]="empObj.deptId !== 0" placeholder="Select Department" [editable]="true"
              [style]="{'width':'100%'}" [appendTo]="'body'" [disabled]="true">
            </p-dropdown>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <label class="fw-bold my-1">Password</label>
            <input type="text" id="float-input" class="form-control" name="password" #password="ngModel" required
              [(ngModel)]="empObj.password" pInputText placeholder="Enter Password">
            <div class="validation-error" *ngIf="password.touched || password.dirty">
              <span *ngIf="password.errors?.['required']">Password is required</span>
            </div>
          </div>
          <div class="col-md-6">
            <label class="fw-bold my-1">Gender</label>
            <div>
              <p-radioButton name="gender" #gender="ngModel" required value="male"
                [(ngModel)]="empObj.gender"></p-radioButton> Male
              <p-radioButton name="gender" #gender="ngModel" required value="female"
                [(ngModel)]="empObj.gender"></p-radioButton>
              FeMale
            </div>
            <div class="validation-error" *ngIf="gender.touched || gender.dirty">
              <span *ngIf="gender.errors?.['required']">This field is required</span>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="fw-bold my-1">Role</label>
            <input type="text" id="float-input" class="form-control" name="role" [(ngModel)]="empObj.role" pInputText
              placeholder="Your Role" disabled>
          </div>
        </div>
        <ng-template pTemplate="footer">
          <button pButton pRipple class="p-button-warning p-button-sm" label="Update" (click)="updateEmpProfile()"
            *ngIf="empObj.employeeId !== 0">
            <span *ngIf="isApiCallInProgress" class="spinner-border spinner-border-sm me-2"></span>
          </button>
          <button pButton pRipple icon="pi pi-times" class="p-button-danger p-button-sm" label="Cancel"
            (click)="onCancel()"></button>
        </ng-template>
      </p-dialog>
    </form>
  </div>
</div>
<!-- modal ends -->
