<div class="container-fluid g-0">
  <app-header (sideBarToggled)="sideBarStatus = $event"></app-header>
  <main>
    <app-side-bar class="sideBar-border" [sideBarStatus]="sideBarStatus"
      [ngClass]="{'app-side-bar-open':sideBarStatus}"></app-side-bar>

    <div class="display-area p-3" [ngClass]="{'display-area-shrink':sideBarStatus}">
      <div *ngIf="isOnline; else noInternet">
        <!-- Your main content here -->
        <app-loader></app-loader>
        <router-outlet></router-outlet>
      </div>

      <ng-template #noInternet>
        <div class="offline-container">
          <img [src]="noInternetImageSrc" alt="No Internet Connection">
        </div>
      </ng-template>
    </div>
  </main>
</div>
