@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #24262b;
}

.logo {
  position: absolute;
  height: 70px;
  width: 70px;
  top: -29px;
  left: 22%;
}

.logoTxt {
  position: absolute;
  height: 50px;
  width: 50px;
  top: -35px;
  left: 42%;
  font-size: xx-large;
}

.container {
  position: relative;
  width: 256px;
  height: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container span {
  position: absolute;
  left: 0;
  width: 32px;
  height: 6px;
  background: #f79e05;
  border-radius: 8px;
  transform-origin: 128px;
  transform: scale(2.2) rotate(calc(var(--i) * (360deg / 50)));
  animation: animateBlink 3s linear infinite;
  animation-delay: calc(var(--i) * (3s / 50));
}

@keyframes animateBlink {
  0% {
    background: rgb(255, 102, 0);
  }

  25% {
    background: rgb(6, 182, 114);
  }
}

.login-box {
  position: absolute;
  width: 400px;
}

.login-box form {
  width: 100%;
  padding: 0 50px;
}

h2 {
  font-size: 1.5em;
  color: rgb(254, 173, 22);
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0px;
}

.input-box {
  position: relative;
  margin: 25px 0;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: 2px solid #f47e09;
  outline: none;
  border-radius: 40px;
  font-size: 1em;
  color: #fff;
  padding: 0 20px;
  transition: .5s ease;
}

.input-box input:focus,
.input-box input:valid {
  border-color: #df872e;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  pointer-events: none;
  transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: 1px;
  font-size: .8em;
  background: orange;
  padding: 0 6px;
  color: #ffff;
  font-weight: 500;
}

.forgot-pass {
  display: flex;
  margin: -15px 0 10px;
  /* text-align: center; */
}

.forgot-pass a {
  font-size: .85em;
  color: #fff;
  text-decoration: none;
}

.forgot-pass a:hover {
  text-decoration: underline;
  color: rgb(251, 171, 23);
  font-weight: 400;
}

.btn {
  width: 100%;
  height: 45px;
  background: orange;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: #1f293a;
  font-weight: 600;
}

.signup-link {
  margin: 20px 0 10px;
  text-align: center;
}

.signup-link a {
  font-size: 1em;
  color: orange;
  text-decoration: none;
  font-weight: 600;
}

.signup-link a:hover {
  text-decoration: underline;
}

#password-input-container {
  position: relative;
}

.password-eye {
  color: #ffff;
  position: absolute;
  top: 49%;
  transform: translateY(-50%);
  right: 8%;
  font-size: large;
  cursor: pointer;
}

.closeIcon {
  color: #ffff;
  background: #cc2c21;
  padding: 3px 5px 4px 5px;
  border-radius: 50%;
  position: absolute;
  top: 49%;
  transform: translateY(-50%);
  right: 8%;
  font-size: smaller;
  cursor: pointer;
}

.closeIcon:hover {
  color: #ffff;
  font-size: 18px;
  transition: 0.1s ease-out;
}

.rememberMeTxt {
  color: #fff !important;
  margin: -3px 0px 0px 0px !important;
  font-size: 14px;
}

.errorMessage {
  margin: -20px 0px 0px 7px !important;
  font-size: 14px;
  color: #f30e0e;
}

@media(max-width: 575.98px) {
  .container span {
    display: none !important;
  }
}

@media(min-width: 767.98px) {
  .container span {
    width: 25px !important;
    height: 6px !important;
    background: #f79e05;
    border-radius: 8px;
    transform-origin: 128px;
    transform: scale(2.2) rotate(calc(var(--i) * (360deg / 50)));
    animation: animateBlink 3s linear infinite;
    animation-delay: calc(var(--i) * (3s / 50));
  }
}
