<div class="container-fluid">
  <div class="row" *ngIf="!showTicketForm">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <button pButton pRipple type="button" class="p-button-primary addTicketBtn" (click)="addNewTicket()">Ticket
            Management
            <i class="pi pi-plus ms-2 fw-bold"></i></button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <p-table [value]="filteredTicketArr" [paginator]="true" [rows]="10" [showJumpToPageDropdown]="true"
            [showPageLinks]="false" styleClass="p-datatable-sm" [responsive]="true">
            <ng-template pTemplate="header">
              <tr class="button-cell">
                <ng-container *ngIf="loggedInUserData.role == 'Super Admin'">
                  <th>Requester</th>
                  <th>Ticket No.</th>
                  <th>Department</th>
                  <th>Contact</th>
                  <th>Severity</th>
                  <th>Assigned To</th>
                  <th>Status</th>
                </ng-container>
                <ng-container *ngIf="loggedInUserData.role == 'Employee'">
                  <th>Sr</th>
                  <th>Ticket No.</th>
                  <th>Department</th>
                  <th>Contact></th>
                  <th>Severity</th>
                  <th>Status</th>
                  <th>Assigned To</th>
                </ng-container>
                <ng-container *ngIf="loggedInUserData.role == 'Department Head'">
                  <th>Requester</th>
                  <th>Ticket No.</th>
                  <th>Severity</th>
                  <th>Status</th>
                  <th>Assigned To</th>
                  <th>Details</th>
                </ng-container>
                <ng-container *ngIf="loggedInUserData.role == 'Admin Department Employee'">
                  <th>Requester</th>
                  <th>Ticket No.</th>
                  <th>Department</th>
                  <th>Severity</th>
                  <th>Status</th>
                  <th>Details</th>
                </ng-container>
                <th style="width: 10%;">Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-sr="rowIndex">
              <tr class="button-cell">
                <ng-container *ngIf="loggedInUserData.role == 'Super Admin'">
                  <td class="">
                    <div class="d-flex ps-2">
                      <p class="avatar" [ngStyle]="{'background-color': generateRandomColor()}">{{item.createdByEmployee
                        | uppercase | slice:0:1}}</p>
                      <span class="ms-2 mt-1 fw-bold">
                        {{item.createdByEmployee | titlecase}}</span>
                    </div>
                  </td>
                  <td> {{item.ticketNo}}</td>
                  <td> {{item.deptName}}</td>
                  <td> {{item.contactNo}}</td>
                  <td> {{item.severity}}</td>
                  <td> {{item.assignedToEmployee !== null? item.assignedToEmployee :'unassigned'}}</td>
                  <td> <p-badge
                      [severity]="item.state == 'Assigned'? 'success':'' || item.state == 'Un-Assigned'? 'warning':'' || item.state == 'Closed'? 'danger':''"
                      [value]="item.state"></p-badge>
                  </td>
                </ng-container>
                <ng-container *ngIf="loggedInUserData.role == 'Employee'">
                  <td> {{sr+1}}</td>
                  <td> {{item.ticketNo}}</td>
                  <td> {{item.deptName}}</td>
                  <td> {{item.contactNo}}</td>
                  <td> {{item.severity}}</td>
                  <td> <p-badge
                      [severity]="item.state == 'Assigned'? 'success':'' || item.state == 'Un-Assigned'? 'warning':'' || item.state == 'Closed'? 'danger':''"
                      [value]="item.state"></p-badge>
                  </td>
                  <td> {{item.assignedToEmployee !== null? item.assignedToEmployee :'unassigned'}}</td>
                </ng-container>
                <ng-container *ngIf="loggedInUserData.role == 'Department Head'">
                  <td>
                    <div class="d-flex ps-2">
                      <p class="avatar" [ngStyle]="{'background-color': generateRandomColor()}">{{item.employeeName
                        | uppercase | slice:0:1}}</p>
                      <span class="ms-2 mt-1 fw-bold">
                        {{item.employeeName | titlecase}}</span>
                    </div>
                  </td>
                  <td> {{item.ticketNo}}</td>
                  <td> {{item.severity}}</td>
                  <td> <p-badge
                      [severity]="item.state == 'Assigned'? 'success':'' || item.state == 'Un-Assigned'? 'warning':'' || item.state == 'Closed'? 'danger':''"
                      [value]="item.state"></p-badge>
                  </td>
                  <td> {{item.assignedToEmployee !== null? item.assignedToEmployee :'unassigned'}}</td>
                  <td [innerHTML]="item.requestDetails"></td>
                </ng-container>
                <ng-container *ngIf="loggedInUserData.role == 'Admin Department Employee'">
                  <td>
                    <div class="d-flex ps-2">
                      <p class="avatar" [ngStyle]="{'background-color': generateRandomColor()}">{{item.employeeName
                        | uppercase | slice:0:1}}</p>
                      <span class="ms-2 mt-1 fw-bold">
                        {{item.employeeName | titlecase}}</span>
                    </div>
                  </td>
                  <td> {{item.ticketNo}}</td>
                  <td> {{item.deptName}}</td>
                  <td> {{item.severity}}</td>
                  <td> <p-badge
                      [severity]="item.state == 'Assigned'? 'success':'' || item.state == 'Un-Assigned'? 'warning':'' || item.state == 'Closed'? 'danger':''"
                      [value]="item.state"></p-badge>
                  </td>
                  <td [innerHTML]="item.requestDetails"></td>
                </ng-container>
                <td>
                  <button *ngIf="loggedInUserData.role == 'Department Head'" pButton pRipple
                    class="p-button-success p-button-sm me-2"
                    (click)="openAssignTicketModal(item.ticketId)">Assign</button>
                  <button *ngIf="loggedInUserData.role == 'Admin Department Employee' && item.state == 'Assigned'"
                    pButton pRipple class="p-button-success p-button-sm me-2"
                    (click)="startAssignedTicket(item.ticketId)">Start Ticket</button>
                  <button *ngIf="loggedInUserData.role == 'Admin Department Employee' && item.state == 'In-Progress'"
                    pButton pRipple class="p-button-danger p-button-sm me-2"
                    (click)="closeAssignedTicket(item.ticketId)">Close Ticket</button>
                  <button pButton pRipple class="p-button-danger p-button-sm" (click)="onDelete(item)"
                    *ngIf="item.state == 'Un-Assigned'">Delete
                    Ticket</button>
                  <button type="button" class="btn btn-outline-primary btn-sm onHoldBtn"
                    *ngIf="item.state == 'Assigned'">On-hold</button>
                  <button type="button" class="btn btn-primary btn-sm openBtn"
                    *ngIf="(loggedInUserData.role == 'Employee' || loggedInUserData.role == 'Super Admin') && item.state == 'In-Progress'">Open</button>
                  <button class="btn btn-dark btn-sm closedBtn" *ngIf="item.state == 'Closed'">Closed</button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="8" class="text-center">No Record Found</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <!-- </app-card> -->
      <!-- modal starts -->
      <div class="row">
        <div class="col-md-12">
          <form #assignTicketForm="ngForm">
            <p-dialog header="Add Department" [(visible)]="displayModalAssignTicket" [modal]="true"
              [style]="{width: '50vw'}" [breakpoints]="{'960px': '75vw', '640px': '95vw'}" [baseZIndex]="10000"
              [draggable]="false" [resizable]="false">
              <div class="row">
                <div class="col-md-12">
                  <label class="fw-bold my-1">Assign Ticket To</label>
                  <p-dropdown id="float-input" name="assignedTo" #assignedTo="ngModel" [required]="true"
                    [options]="($emp | async)!" [(ngModel)]="assignTicketObj.assignedTo" optionLabel="employeeName"
                    optionValue="employeeId" [filter]="true" filterBy="employeeName"
                    [showClear]="assignTicketObj.assignedTo !== 0" placeholder="Assign Ticket To" [editable]="true"
                    [style]="{'width':'100%'}" [appendTo]="'body'">
                  </p-dropdown>
                  <div class="validation-error" *ngIf="assignedTo.touched || assignedTo.dirty">
                    <span *ngIf="assignedTo.errors?.['required']">This field is required</span>
                  </div>
                </div>
              </div>
              <ng-template pTemplate="footer">
                <button pButton pRipple class="p-button-success p-button-sm" label="Save" (click)="assignTicket()"
                  [disabled]="assignTicketForm.invalid">
                  <span *ngIf="isApiCallInProgress" class="spinner-border spinner-border-sm me-2"></span>
                </button>
                <button pButton pRipple icon="pi pi-times" class="p-button-danger p-button-sm" label="Cancel"
                  (click)="onCancel()"></button>
              </ng-template>
            </p-dialog>
          </form>
        </div>
      </div>
      <!-- modal ends -->
    </div>
  </div>
  <div class="row mt-3" *ngIf="showTicketForm">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <app-card [headerTxt]="'New Ticket'" [headerClass]="'bg-dark'" [showAddBtn]="true" [btnTxt]="'Go to Tickets'"
        (btnClick)="addNewTicket()">
        <form #ticketFrm="ngForm">
          <div class="row">
            <div class="col-md-6">
              <label class="fw-bold my-1">Select Department</label>
              <p-dropdown id="float-input" name="deptName" #deptName="ngModel" [required]="true"
                [options]="($department | async)!" [(ngModel)]="ticketObj.deptId" optionLabel="deptName"
                optionValue="deptId" [filter]="true" filterBy="deptName" [showClear]="ticketObj.deptId !== 0"
                placeholder="Select Department" [editable]="true" [style]="{'width':'100%'}" [appendTo]="'body'">
              </p-dropdown>
              <div class="validation-error" *ngIf="deptName.touched || deptName.dirty">
                <span *ngIf="deptName.errors?.['required']">This field is required</span>
              </div>
            </div>
            <div class="col-md-6">
              <label class="fw-bold my-1">Select Severity</label>
              <select class="form-select" name="severity" #severity="ngModel" required [(ngModel)]="ticketObj.severity">
                <option value="" disabled>Select Severity</option>
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
              </select>
              <div class="validation-error" *ngIf="severity.touched || severity.dirty">
                <span *ngIf="severity.errors?.['required']">This field is required</span>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <label class="fw-bold my-1">Request Details</label>
              <p-editor name="requestDetails" #requestDetails="ngModel" [(ngModel)]="ticketObj.requestDetails"
                [style]="{'height':'100px'}" [required]="true"></p-editor>
              <div class="validation-error" *ngIf="requestDetails.touched || requestDetails.dirty">
                <span *ngIf="requestDetails.errors?.['required']">Request details required!</span>
              </div>
            </div>
          </div>
          <div class="row mt-4 mb-2">
            <div class="col-md-12 text-center">
              <button pButton pRipple class="p-button-success p-button-sm me-3" (click)="createNewTicket()"
                [disabled]="ticketFrm.invalid">Create Ticket
                <span *ngIf="isApiCallInProgress" class="spinner-border spinner-border-sm ms-2"></span></button>
              <button pButton pRipple class="p-button-danger p-button-sm" (click)="onReset()">Reset</button>
            </div>
          </div>
        </form>
      </app-card>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
