<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-card [headerTxt]="'Department'" [headerClass]="'bg-dark'" [showAddBtn]="true" [btnTxt]="'Add'"
        (btnClick)="onAddDept()">
        <div class="row">
          <div class="col-md-12">
            <p-table [value]="filteredDepartmentArr" [paginator]="true" [rows]="10"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,75,100,150]"
              styleClass="p-datatable-gridlines p-datatable-sm" [responsive]="true">
              <ng-template pTemplate="header">
                <tr class="button-cell">
                  <th style="width: 3%;">Sr</th>
                  <th pSortableColumn="deptName">Department<p-sortIcon field="deptName"></p-sortIcon>
                  </th>
                  <th pSortableColumn="deptHeadName">Department Head<p-sortIcon field="deptHeadName"></p-sortIcon></th>
                  <th style="width: 10%;">Action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-sr="rowIndex">
                <tr class="button-cell">
                  <td>{{sr+1}}</td>
                  <td> {{item.deptName | na}}</td>
                  <td> {{item.deptHeadName | na}}</td>
                  <td>
                    <button pButton pRipple class="p-button-primary p-button-sm me-2"
                      (click)="onEdit(item)">Edit</button>
                    <button pButton pRipple class="p-button-danger p-button-sm" (click)="onDelete(item)">Delete</button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="9" class="text-center">No Record Found</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </app-card>

      <!-- modal starts -->
      <div class="row">
        <div class="col-md-12">
          <form #deptForm="ngForm">
            <p-dialog header="Add Department" [(visible)]="displayModalDept" [modal]="true" [style]="{width: '50vw'}"
              [breakpoints]="{'960px': '75vw', '640px': '95vw'}" [baseZIndex]="10000" [draggable]="false"
              [resizable]="false">
              <div class="row">
                <div class="col-md-6">
                  <label class="fw-bold my-1">Department Name</label>
                  <input type="text" id="float-input" class="form-control" name="deptName" #deptName="ngModel"
                    [(ngModel)]="departmentObj.deptName" required pInputText placeholder="Enter Department Name">
                  <div class="validation-error" *ngIf="deptName.touched || deptName.dirty">
                    <span *ngIf="deptName.errors?.['required']">This field is required</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="fw-bold my-1">Department Head</label>
                  <p-dropdown id="float-input" name="employeeName" #deptHeadEmpId="ngModel" [required]="true"
                    [options]="($emp | async)!" [(ngModel)]="departmentObj.deptHeadEmpId" optionLabel="employeeName"
                    optionValue="employeeId" [filter]="true" filterBy="employeeName"
                    [showClear]="departmentObj.deptHeadEmpId !== 0" placeholder="Select Department Head"
                    [editable]="true" [style]="{'width':'100%'}" [appendTo]="'body'">
                  </p-dropdown>
                  <div class="validation-error" *ngIf="deptHeadEmpId.touched || deptHeadEmpId.dirty">
                    <span *ngIf="deptHeadEmpId.errors?.['required']">This field is required</span>
                  </div>
                </div>
              </div>
              <ng-template pTemplate="footer">
                <button pButton pRipple class="p-button-success p-button-sm" label="Save" (click)="onSaveDept()"
                  *ngIf="departmentObj.deptId == 0" [disabled]="deptForm.invalid">
                  <span *ngIf="isApiCallInProgress" class="spinner-border spinner-border-sm me-2"></span>
                </button>
                <button pButton pRipple class="p-button-warning p-button-sm" label="Update" (click)="onUpdateDept()"
                  *ngIf="departmentObj.deptId !== 0">
                  <span *ngIf="isApiCallInProgress" class="spinner-border spinner-border-sm me-2"></span>
                </button>
                <button pButton pRipple icon="pi pi-times" class="p-button-danger p-button-sm" label="Cancel"
                  (click)="onCancel()"></button>
              </ng-template>
            </p-dialog>
          </form>
        </div>
      </div>
      <!-- modal ends -->
    </div>
  </div>
</div>
